<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery">
      <services>
          <register serviceType="Sitecore.XA.Foundation.Search.Services.IFacetService, Sitecore.XA.Foundation.Search" set:implementationType="Sitecore.Support.XA.Foundation.Search.Services.FacetService, Sitecore.Support.298497" />
      </services>
  </sitecore>
</configuration>